* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f7f7f7;
    font-family: karnak-normal-400, sans-serif;
}

nav {
    top: 0;
    width: 100%;
    height: 42px;
    overflow: auto;
    position: fixed;
    padding: 5px 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

nav>span {
    float: left;
    height: 100%;
    width: 33.33%;
    vertical-align: middle;
}

#menu svg {
    width: 18px;
    height: 18px;
}

#menu button {
    border: none;
    padding: 5px;
    background: none;
    border-radius: 3px;
}

#menu button:hover {
    background: #eee;
}

#menu a {
    color: #000;
    text-decoration: unset;
    text-transform: uppercase;
}

#menu a:hover {
    text-decoration: underline;
}

#logo {
    text-align: center;
}

#logo svg {
    height: 25px;
}

#account {
    text-align: right;
}

#account button {
    padding: 7px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #6288a5;
    border: 1px solid #326891;
}

main {
    margin-top: 55px;
}

#subscribe {
    color: #fff;
    padding: 30px;
    background: #000;
    text-align: center;
}

#subscribe>div {
    padding: 20px;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
}

#subscribe>div p {
    margin: 0;
}

#subscribe>div.second {
    font-weight: 700;
    font-size: 1.5em;
}


/********* footer ***************************/

footer {
    /*border: 1px solid red;*/
    padding: 0 1%;
}

#foot_title {
    padding-left: 3%;
}

#bottom_menu li {
    list-style: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-size: 13px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.04rem;
}

#blurred_row {
    text-align: center;
}

#blurred_row li {
    list-style: none;
    display: inline-block;
    font-weight: inherit;
    font-size: 100%;
    padding: 0 5px;
}

#blurred_row a {
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

#blurred_row a:hover {
    text-decoration: underline;
}

footer .go2home {
    /*border: 1px solid black;*/
    float: right;
    width: 40%;
    text-align: right;
    font-family: nyt-franklin;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    vertical-align: middle;
    padding-top: 10px;
}

footer .go2home a {
    text-decoration: none;
    color: rgb(98, 136, 165);
}

footer .go2home a:hover {
    text-decoration: underline;
}

#last_line .subscribe_bottom {
    width: 15%;
    /*border: 1px solid green;*/
    /*overflow: hidden;*/
    float: right;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategray;
}

#last_line .bottom_txt {
    width: 80%;
    text-align: center;
    /*border: 1px solid red;*/
    float: left;
    color: darkslategray;
    letter-spacing: 0.24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer hr {
    border-color: black;
}

.lite_weight {
    font-weight: 100;
}


/****************** FOOTER [end] *****************/


/****************** ALTERNATE *********************/

#alternative {
    /*border: 1px solid blue;*/
    padding: 0 1%;
    width: 100%;
    margin-bottom: 40px;
    /*margin-top: 3%;*/
}

#thumbnails {
    width: 65%;
    float: left;
    border: 1px solid red;
}

#alternative aside {
    width: 33%;
    border: 1px solid green;
    float: left;
}

#alternative .side_headings {
    padding: 3.4% 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

#alternative .side_headings a {
    text-decoration: none;
    color: rgb(18, 18, 18);
}

#alternative .side_headings a:hover {
    color: rgb(226, 226, 226);
}

#alternative h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    /*padding: 15px;*/
    padding: 2% 2% 0 2%;
    border-top: 1px solid rgb(0, 0, 0);
}

#thumbnails .thumbnails_row .thumbnail_block {
    border: 1px solid orange;
    width: 33%;
    float: left;
}

#thumbnails .thumbnails_row .thumbnail_block .img_caption {
    text-align: right;
    font-size: 10px;
    display: block;
    color: grey;
    font-family: karnak-normal-400, sans-serif;
    margin: 0;
}

#thumbnails .thumbnails_row .thumbnail_block .img_date {
    text-align: left;
    font-size: 13px;
    display: block;
    color: grey;
    font-family: karnak-normal-400, sans-serif;
    margin: 0;
    letter-spacing: 0.24px;
}

#thumbnails .thumbnails_row .thumbnail_block h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}